<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>2FA Verification</title>
    
</head>
<body>

    <div class="container wide-container">
        {% if decoded_bytes %}
        <h2 class="word">Konfiguracja bezpieczeństwa logowania</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ 'error' if category == 'danger' else category }}" style="margin-top: 10px;">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
        <p style="color: white; font-size: 0.9em;">Zeskanuj kod QR w swojej aplikacji uwierzytelniającej</p>
        <img src="data:image/png;base64,{{decoded_bytes}}">
    {% else %}
        <h2 class="word">Weryfikacja dwuetapowa</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ 'error' if category == 'danger' else category }}" style="margin-top: 10px;">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
        <p style="color: white; font-size: 0.9em;">Wprowadź kod z aplikacji, aby potwierdzić tożsamość</p>
        {% endif %}

        <form action="{{ url_for('auth.login_after_reg') }}" method="post">
          
            <input class="textbox" 
                   type="text" 
                   inputmode="numeric" 
                   pattern="[0-9]{6}" 
                   maxlength="6" 
                   name="totp" 
                   placeholder="Wprowadź kod z aplikacji" 
                   required>

            <button class="btn" type="submit">Verify & Login</button>
        </form>
    </div>

</body>
</html>