<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>

    <div class="container wide-container">  <!-- Wrapper for form -->
        <h2 class="word">Register</h2>

        <form action="{{ url_for('auth.register') }}" method="post">
            <div>{{ msg }}</div>
            {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ 'error' if category == 'danger' else category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
            <input class="textbox" type="email" name="email" placeholder="Enter Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <input class="textbox" type="password" name="password" placeholder="Enter Password" required autocomplete="new-password">

            <button class="btn" type="submit">Register</button>
        </form>

    </div>

</body>
</html>