<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="card">
    <h3>Wiadomość zaszyfrowana</h3>
    <p>Podaj hasło do swojego klucza prywatnego RSA, aby odczytać tę wiadomość.</p>
    
    <form method="POST">
        <div class="form-group">
            <label>Hasło klucza:</label>
            <input type="password" name="password" class="form-control" autocomplete="off" autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Odszyfruj i czytaj</button>
        <a href="/inbox" class="btn btn-secondary">Anuluj</a>
    </form>
</div>